@media (max-width: 1340px){
    .header .container-icons .icons .circle.instagram, .header .container-icons .icons .circle.linkedin, .header .container-icons .icons .circle.facebook {
        display: none;
    }
    
    .footer {
        .grid-container {
            .grid-x {
                .cell {
                    .logo {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1270px){
    .about .grid-container, .intro .grid-container, .services .grid-container, .why .grid-container, .contact .grid-container, .footer .grid-container {
        width: 100%;
    }
}

@media (max-width: 1200px){
    html {
        font-size: 85%;
    }
    
    .intro .grid-container .grid-x, .about .grid-container .grid-x{
        p{ 
            @include font-size(17);
        }
    }

    .services {
        padding-bottom: 93px;

        .grid-container .grid-x .cell dl dd{
            @include font-size(17);
        }

        #triangle-left, #triangle-middle, #triangle-right  {
            border-bottom-width: 702px;
            border-left-width: 742px
        }
    }

    .why{
        padding-bottom: 68px;
    }

    .contact{
        .grid-container .grid-x{
            .small-5{
                p{
                    @include font-size(21);
                    padding-right: 20px;
                }
            }
        }
    }

    .contact-white {
        .grid-container {
            .grid-x {
                .small-7 {
                    form {
                        .plain-select:after{
                            margin-top:-40px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1140px){
    html {
        font-size: 75%;
    }

    .header {
        .container-logo {
            left: 20px;

            .logo {
                .text {
                    display: none;
                }
            }
        }

        .container-icons {
            right: 20px;
        }
    }

    .projects {
    padding: 50px 100px;
    .grid-container {
        width: 100%;
        .grid-x {
            .cell {
                .title {
                    font-size: 1.6rem;
                    font-weight: bold;
                    bottom: 2%;
                    height: 8vh;
                }
                .description {
                    font-size: 1.125rem;
                    font-weight: 300;
                    bottom: 2%;
                    height: 5vh;
                }
            }
        }
    }
}

    .intro .grid-container .grid-x, .about .grid-container .grid-x {
        p{ 
            @include font-size(20);
            line-height: 1.7em;
            &.info{
                line-height: 1.7em;
                @include font-size(22);
            }
        }
    }

    .contact{
        .grid-container{
            .grid-x{
                .small-7{ 
                    form{
                        label{
                            @include font-size(20);
                            padding-bottom: 8px; 
                        }
                        select {
                            background-position: -10px calc(100% + 10px), 0%;
                        }
                    }
                    h4{
                        @include font-size(36);
                    }
                    hr{
                        width: 21.8rem;
                    }
                }
                .small-5{
                    padding-top: 125px;
                    h4{
                        @include font-size(36);
                    }
                }
            }
        }
    }

    .contact-white {
        .grid-container {
            .grid-x {
                .small-7 {
                    form {
                        .plain-select:after{
                            margin-top: -33px;
                        }
                    }
                }
            }
        }
    }

    .services {
        padding-bottom: 93px;

        .grid-container{
            h4{
                @include font-size(40);
            }
            hr{
                width: 10.8rem;
            }
            .grid-x .cell dl dd{
                @include font-size(19);
            }
        }

        #triangle-left, #triangle-middle, #triangle-right  {
            border-bottom-width: 682px;
            border-left-width: 722px
        }
    }

    .why{
        .grid-container{
            .grid-x .cell{
                h3{
                    @include font-size(30);
                }
                hr{
                    width: 16.3rem;
                }
                ul li{
                    @include font-size(22);
                }
            }
        }
    }
}

@media (max-width: 1023px){
    html {
        font-size: 70%;
    }

    .services {
        #triangle-left, #triangle-middle, #triangle-right  {
            border-bottom-width: 668px;
            border-left-width: 708px
        }
    }

    .contact-white {
        .grid-container {
            .grid-x {
                .small-7 {
                    form {
                        .plain-select:after{
                            margin-top: -27px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 980px){
    .hero-slider, .hero-header {
        .container, .grid-container div {
            left: 0;
            right: 0;
            margin: auto;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .why {
        padding-top: 63px;
        padding-bottom: 63px;

        .grid-container {
            .grid-x {
                .cell {
                    h3 {
                        text-align: center;
                        @include font-size(36);
                        display: table;
                        margin: 0 auto;
                        padding-bottom: 20px;
                    }

                    ul {
                        &.services-list {
                            margin: 0 auto;
                            width: 300px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .services {
        @include background(0deg, 90deg, #af246f, 0%, #a12577, 100%);
        padding-bottom: 63px;
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-5, .large-8 {
                    padding-top: 0;
                }
    
                .small-3 {
                    width: 50px;
                }
            }
        } 
    }
}

@media (max-width: 979px){ 
    .projects {
        .grid-container {
            .grid-x {
                .cell {
                    padding-bottom: calc((50% - 1.875rem)*0.75);
                }
            }
        }
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-8, .large-5 {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 954px){
    .contact {
        .grid-container {
            .grid-x {
                .small-5 {
                    width: 100%;
                    padding: 80px 0 50px 0;
        
                    p {
                        span {
                            display: none;
                        }
                    }
                }
        
                .small-7 {
                    margin: 0 0 50px 0;
                    width: 100%;

                    form {
                        select {
                            //margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 941px){
    .header {
        .title-bar {
            display: none;
        }
    }
}

@media (max-width: 940px){
    html {
        font-size: 70%;
    }

    .header {
        .container-logo {
            width: auto;
        }

        .container-icons {
            display: none;
        }
        
        .small-3 {
            .logo {
                .text {
                    display: table-cell;
                }
            }
        }
        .small-6 {
            display: none;
        }
    }

}

@media (max-width: 800px){
    .hero-slider, .hero-header{
        .container, .grid-container div {
            width: 100%;
        }
    }
}

@media (max-width: 768px){
    html {
        font-size: 65%;
    }

    .hero-header .grid-container div {
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
    }

    .hero-slider {
        height: 300px;
        line-height: 300px;
    }

    .services {
        .grid-container {
            .grid-x {
                padding: 0 50px;
    
                .cell {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
}

@media (max-width: 767px){ 
    .projects {
        padding: 50px;

        .grid-container {
            .grid-x {
                .cell {
                    width: calc(50% - 1.875rem);
                    margin-left: auto;
                    margin-right: auto;
                    padding-bottom: calc((50% - 1.875rem)*0.75);

                }
            }
        }
    }

    .intro .grid-container .grid-x, .about .grid-container .grid-x{ 
        h2{
            @include font-size(32);
            font-weight: 600;
        }
        p.info{
            margin-bottom: 2.4rem;
            line-height: 1.58em;
            @include font-size(24); 
        }
        p{
            @include font-size(22); 
        }
    }

    .services{
        .grid-container{ 
            hr{
                margin-bottom: 44px;
            }
            .grid-x .cell dl{
                dt{
                    @include font-size(28);
                }
                dd{
                    @include font-size(22);
                }
            }
        }
    }

    .why {
        padding-bottom: 50px;

        .grid-container .grid-x .cell{
            ul{
                li{
                    padding-bottom: 1.475rem;
                    @include font-size(24);
                }
            }
        }
    }

    .contact{
        .grid-container{
            .grid-x{
                padding-bottom: 20px;
                .small-7{ 
                    form{
                        label{
                            @include font-size(22);
                            padding-bottom: 8px; 
                        }
                        input,
                        select{
                            @include font-size(20);
                        }
                        .buttons .next .circle,
                        .buttons .submit.circle{
                            width: 6rem;
                            height: 6rem;
                            line-height: 6rem;
                            bottom: -3rem;
                        }
                        .buttons .prev .circle{
                            width: 4.5rem;
                            height: 4.5rem;
                            line-height: 4.5rem;
                            bottom: -2.25rem;
                            left: calc(50% - 3.5rem);
                        }
                    }
                    h4{
                        @include font-size(38);
                    }
                    hr{
                        width: 22.8rem;
                    }
                }
                .small-5{
                    padding-top: 50px;
                    padding-bottom: 40px;
                    h4{
                        @include font-size(36);
                    }
                    p{
                        @include font-size(26);
                    }
                }
            }
        }
    }

    .contact-white {
        .grid-container {
            .grid-x {
                .small-7 {
                    form {
                        .plain-select:after{
                            margin-top: 63px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-4 {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 639px){
    html {
        font-size: 60%;
    }

    .intro {
        .grid-container {
            padding: 0;

            .grid-x{ 
                h2{
                    @include font-size(32);
                    font-weight: 500;
                }
                p.info{
                    margin-bottom: 2.2rem;
                    @include font-size(24); 
                }
                p{
                    @include font-size(22);
                    margin-bottom: 1.25rem; 
                }
            }
        }
    }
   
    .projects {
        .grid-container {
            .grid-x {
                .cell {
                    width: 100%;
                    padding-bottom: calc((100% - 1.875rem)*0.75);

                    .title {
                        @include font-size(32);
                    }
                    .description {
                         @include font-size(20);
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .hero-slider {
        height: 250px;
        line-height: 250px;

        .container {
            h1 {
                font-size: 2.8rem;
            }
        }
    }

    .intro .grid-container .grid-x{ 
        h2 {
            @include font-size(32);
            font-weight: 500;
        }
        p.info{
            margin-bottom: 2.2rem;
            @include font-size(24); 
        }
        p{
            @include font-size(22); 
        }
    }
}

@media (max-width: 420px){
    html {
        font-size: 50%;
    }

    .services {
        padding: 0 20px 50px 20px;

        .grid-container{
            h4{
                @include font-size(48);
                padding-top: 36px; 
            }
            hr{
                margin-bottom: 30px;
                width: 13.2rem;
            }
            .grid-x .cell dl{
                dt{
                    @include font-size(30);
                }
                dd{
                    @include font-size(24);
                }
            }
        }
    }

    .projects, .why {
        padding: 50px 20px;
    }

    .why{
        padding: 50px 20px 40px 20px;

        .grid-container .grid-x .cell{
            h3{
                @include font-size(44);
            }
            hr{
                width: 23.5rem;
            }
            ul li{
                @include font-size(26);
            }
        }
    }

    .intro .grid-container .grid-x{ 
        h2{
            @include font-size(32);
            font-weight: 500;  
        }
        p.info{
            margin-bottom: 2.2rem;
            @include font-size(28); 
        }
        p{
            @include font-size(26); 
        }
    }

    .contact{
        padding: 0 20px;

        .grid-container{
            .grid-x{
                padding-bottom: 20px;
                .small-7{ 
                    form{
                        label{
                            @include font-size(28);
                            padding-bottom: 8px;
                        }
                        input,
                        select{
                            @include font-size(26);
                        }
                        select{
                            background-position: -10px calc(100% + 8px), 0%;
                        }
                        .buttons .next .circle,
                        .buttons .submit.circle{
                            width: 8rem;
                            height: 8rem;
                            line-height: 8rem;
                            bottom: -4rem;
                            margin-left: -2rem;
                        }
                        .buttons .prev .circle{
                            width: 4.5rem;
                            height: 4.5rem;
                            line-height: 4.5rem;
                            bottom: -2.25rem;
                            left: calc(50% - 5.5rem);
                        }
                    }
                    h4{
                        @include font-size(44);
                    }
                    hr{
                        width: 26.8rem;
                    }
                }
                .small-5{
                    padding-top: 50px;
                    padding-bottom: 40px;
                    h4{
                        @include font-size(44);
                        &.above {
                            color: white;
                            margin-top: -4.05rem;
                        }
                        margin: 0;
                    }
                    p{
                        @include font-size(29);
                    }
                }
            }
        }
    }

    .contact-white {
        .grid-container {
            .grid-x {
                .small-7 {
                    form {
                        .plain-select:after{
                            margin-top: 75px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 400px){
    .header {
        .container-logo {
            left: 20px;
    
            .logo {
                .text {
                    display: none;
                }
            }
        }
    }
}
