// fonts
$font-primary: 'Lato';


// colors
$color-primary: #212121;
$color-secondary: black;
$color-active: #b8144c;
$color-link: #8f2782;

$instagram: #a01b5b;
$linkedin: #0074ae;
$facebook: #485a96;

// sizes
$container-small: 420px;
$container-medium: 768px;
$container-large: 980px;
$container-xlarge: 1170px;
$container-xxlarge: 1440px;
