$breakpoints: (
  small: $container-small,
  medium: $container-medium,
  large: $container-large,
  xlarge: $container-xlarge,
  xxlarge: $container-xxlarge
);

@media (max-width: 1200px){
    .services {
        height: auto;
        padding-bottom: 93px;

        #triangle-left { //, #triangle-middle, #triangle-right {
            position: absolute;
            bottom: 0;
            right: 636px;
            height: 0;
            border-bottom: 747px solid #af246f;
            border-left: 787px solid transparent;
            z-index: -1;
        }

        #triangle-middle { //, #triangle-middle, #triangle-right {
            position: absolute;
            bottom: 0;
            right: 318px;
            height: 0;
            border-bottom: 747px solid #a12577;
            border-left: 787px solid transparent;
            z-index: -1;
        }

        #triangle-right { 
            position: absolute;
            bottom: 0;
            right: 0;
            height: 0;
            border-bottom: 747px solid #8f2782;
            border-left: 787px solid transparent;
            z-index: -1;
        }

        .grid-x {
            width: 914px;

            .cell {
                width: 280px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 1140px){
    .hero-slider {
        .container {
            h1 {
                font-size: 56px;
                line-height: 56px;
            }
        }
    }
    .projects {
        .grid-x {
            .cell {
                .title {
                    font-size: 26px;
                    line-height: 26px;
                    bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 980px){
    .hero-slider {
        .container {
            left: 0;
            right: 0;
            margin: auto;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .intro {
        #triangle-grey {
            display: none;
        }
        .cell {
            .container {
                h2 {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
        }
    }

    .services {
        @include background(0deg, 90deg, #af246f, 0%, #a12577, 100%);
        padding-bottom: 63px;

        #triangle-left, #triangle-middle, #triangle-right {
            display: none;
        }

        .grid-x {
            width: 480px;

            .cell {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 800px){
    .hero-slider {
        .container {
            width: 100%;

            h1 {
                font-size: 46px;
                line-height: 46px;
            }
        }
    }

    .projects {
        .grid-x {
            .cell {
                width: calc(50% - 1.3rem);
                padding-bottom: calc((50% - 1.875rem)*0.75);
            }
        }
    }
}

@media (max-width: 768px){
    .hero-slider {
        .container {
            h1 {
                font-size: 42px;
                line-height: 42px;
            }
        }
    }

    .projects {
        margin: 50px 75px;

        .grid-x {
            .cell {
                .title {
                    font-size: 20px;
                    bottom: 20px;
                }

                .description {
                    font-size: 15px;
                    line-height: 15px;
                }
            }
        }
    }

    .intro {
        .cell {
            .container {
                h2 {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }
    }
}

@media (max-width: 690px){
    .intro {
        .cell {
            .container {
                width: 100%;
            }
        }
    }
}

@media (max-width: 639px){
    .projects {
        .grid-x {
            .cell {
                width: calc(100% - 1.875rem);
                padding-bottom: calc((100% - 1.875rem)*0.75);
            }
        }
    }
}

@media (max-width: 480px){
    .services {
        .grid-x {
            width: 100%;
            padding: 0 20px;
        }
    }
}

@media (max-width: 420px){
    .hero-slider {
        .container {
            h1 {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

    .projects {
        margin: 50px 25px;
    }
}