
@media (max-width: 1280px){
    .header {
        .container-icons {
            .menu {
                .instagram, .linkedin, .facebook {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1270px){
    .intro .grid-x, .services .grid-x, .why .grid-x, .footer .grid-container {
        width: 100%;
    }
}

@media (max-width: 1200px){
    html {
        font-size: 85%;
    }
    
    .services {
        padding-bottom: 93px;

        #triangle-left  {
            border-bottom: 702px solid #af246f;
            border-left: 742px solid transparent;
        }

        #triangle-middle {
            border-bottom: 702px solid #a12577;
            border-left: 742px solid transparent;
        }

        #triangle-right { 

            border-bottom: 702px solid #8f2782;
            border-left: 742px solid transparent;
        }

        .grid-x {
            width: 914px;

            .cell {
                width: 280px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .contact {
        .small-5 {
            p {
                span {
                    margin-top: 0;
                    margin-right: 0px;
                }
            }
        }
    }
}


@media (max-width: 1140px){
    html {
        font-size: 75%;
    }

    .header {
        .container-logo {
            left: 20px;

            .logo {
                .text {
                    display: none;
                }
            }
        }

        .container-icons {
            right: 20px;
        }
    }

    .hero-slider {
        .container {
            h1 {
                font-size: 56px;
                line-height: 56px;
            }
        }
    }

    .services {
        padding-bottom: 93px;

        #triangle-left  {
            border-bottom: 682px solid #af246f;
            border-left: 722px solid transparent;
        }

        #triangle-middle {
            border-bottom: 682px solid #a12577;
            border-left: 722px solid transparent;
        }

        #triangle-right { 

            border-bottom: 682px solid #8f2782;
            border-left: 722px solid transparent;
        }
    }

    .contact {
        .small-7 {
            width: 420px;

            form {
                input {
                    width: 90%;
                    text-align: left;
                    margin-left: 12px;
                }
            }
        }
    }
}

@media (max-width: 1023px){
    html {
        font-size: 70%;
    }

    .services {

        #triangle-left  {
            border-bottom: 668px solid #af246f;
            border-left: 708px solid transparent;
        }

        #triangle-middle {
            border-bottom: 668px solid #a12577;
            border-left: 708px solid transparent;
        }

        #triangle-right { 
            border-bottom: 668px solid #8f2782;
            border-left: 708px solid transparent;
        }
    }

    .why {
        padding-top: 63px;

        .grid-x {
            .cell {
                h4 {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 980px){
    .hero-slider {
        .container {
            left: 0;
            right: 0;
            margin: auto;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .services {
        @include background(0deg, 90deg, #af246f, 0%, #a12577, 100%);
        padding-bottom: 63px;

        .grid-x {
            width: 100%;

            .cell {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-5, .large-8 {
                    padding-top: 0;
                }
    
                .small-3 {
                    width: 50px;
                }
            }
        } 
    }
}

@media (max-width: 979px){ 
    .projects {
        .grid-x {
            .cell {
                padding-bottom: calc((50% - 1.875rem)*0.75);
            }
        }
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-8, .large-5 {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 954px){
    .contact {
        padding: 0 80px;

        .small-5 {
            width: 100%;
            padding: 88px 0 55px 0;

            p {
                span {
                    display: none;
                }
            }
        }

        .small-7 {
            margin-top: 0;
            width: 100%;
        }
    }
}

@media (min-width: 941px){
    .header {
        .title-bar {
            display: none;
        }
    }
}

@media (max-width: 940px){
    html {
        font-size: 70%;
    }

    .header {
        .container-logo {
            width: auto;
        }

        .container-icons {
            display: none;
        }
        
        .small-3 {
            .logo {
                .text {
                    display: table-cell;
                }
            }
        }
        .small-6 {
            display: none;
        }
    }

}

@media (max-width: 800px){
    .hero-slider {
        .container {
            width: 100%;

            h1 {
                font-size: 46px;
                line-height: 46px;
            }
        }
    }
}

@media (max-width: 768px){
    html {
        font-size: 65%;
    }

    .hero-slider {
        .container {
            h1 {
                font-size: 42px;
                line-height: 42px;
            }
        }
    }

    .projects {
        margin: 50px 75px;
    }
}

@media (max-width: 767px){ 
    .projects {
        .grid-x {
            .cell {
                width: calc(50% - 1.875rem);
                padding-bottom: calc((50% - 1.875rem)*0.75);
            }
        }
    }

    .why {
        padding-bottom: 50px;
    }

    .footer {
        .grid-container {
            .grid-x {
                .large-4 {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 639px){
    html {
        font-size: 60%;
    }

    .projects {
        .grid-x {
            .cell {
                width: 100%;
                padding-bottom: calc((100% - 1.875rem)*0.75);
            }
        }
    }
}

@media (max-width: 580px){
    .services {
        .grid-x {
            width: 100%;
            padding: 0 20px;
        }
    }
}

@media (max-width: 420px){
    html {
        font-size: 50%;
    }

    .hero-slider {
        .container {
            h1 {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

    .projects {
        margin: 50px 25px;
    }
}


@media (max-width: 400px){
    .header {
        .container-logo {
            left: 20px;
    
            .logo {
                .text {
                    display: none;
                }
            }
        }
    }
}
