// fonts
$font-primary: 'Lato';


// colors
$color-primary: black;
$color-secondary: black;

// sizes
$container-large: 1170px;
$container-medium: 980px;
$container-small: 768px;
$container-extra-small: 320px;
