// fonts
$font-primary: 'Lato';


// colors
$color-primary: black;
$color-secondary: black;

$instagram: #a01b5b;
$linkedin: #0074ae;
$facebook: #485a96;

$container-small: 420px;
$container-medium: 768px;
$container-large: 980px;
$container-xlarge: 1170px;
$container-xxlarge: 1440px;

// images